extends ./basic_layout

block content
  #container
    #messages
      #incoming
    #send-message
      label(id='name')= title
      textarea(rows='2', cols='38', id='msg')
      p
        button#btn-send.btn.btn-primary
          | 보내기

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js')
  script(src='/public/javascript/chat-index.js')
