extends ./basic_layout


block styles
  link(rel='stylesheet', href='/public/stylesheets/dashboard-style.css')

block content
  body(ng-app='myApp')
    div(ng-controller='AppChat')
      table.table
        thead
          tr
            th NickName
        tr(ng-repeat='member in memberlist')
          td {{member.displayName}}

block scripts
  script(src='/libs/angular/angular.min.js')
  script(src='/public/controllers/chat_controller.js')
