extends ./basic_layout

block content
  body(ng-app='myApp')
    div(ng-controller='AppChat')
      h1 Unibee Memberlist
      table.table
        thead
          tr
            th NickName
        tr(ng-repeat='member in memberlist')
          td {{member.displayName}}

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
  script(src='/public/controllers/chat_controller.js')
