extends ./basic_layout

block styles
  link(rel='stylesheet', href='/public/stylesheets/sidebar.css')
  link(rel='stylesheet', href='/public/stylesheets/dashboard-style.css')
  link(href='/public/stylesheets/chat-style.css', rel='stylesheet', type='text/css')


block content
  nav.navbar.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/main')
  #sidebar(data-position='left')
        .icons
          .icon(data-content='my_info')
            img(src='https://s3-ap-northeast-1.amazonaws.com/unibee/unibee_icon.png')
          .icon(data-content='member_list')
            img(src='https://s3-ap-northeast-1.amazonaws.com/unibee/member_icon.png')
          .icon(data-content='chat_room')
            img(src='https://s3-ap-northeast-1.amazonaws.com/unibee/chat_icon.png')
        .contents
          .content.hide(data-content='my_info')
            h2 사용자 프로필
            img.img-responsive.center-block(src='https://s3-ap-northeast-1.amazonaws.com/unibee/user_default_woman.png')
            h4= displayName
            h5= 'userID : ' + username
            a.btn.btn-lg.btn-custom(href='/auth/logout', role='button') 로그아웃
          .content.hide(data-content='member_list')
            h2 사용자 목록
            include memberlist
          .content.hide(data-content='chat_room')
            p
              | chat 


block scripts
  script(src='/public/javascript/sidebar.js')
