extends ./basic_layout

block styles
  link(rel='stylesheet', href='/public/stylesheets/sidebar.css')
  link(rel='stylesheet', href='/public/stylesheets/dashboard-style.css')
  script(src="/socket.io/socket.io.js")
  script(src='/public/javascript/draw-socket.js')
  script(src='/public/javascript/paper.js')

block content
  nav.navbar.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/main')
  canvas( id='draw', resize='true', keepalive='true' )
  #sidebar(data-position='left')
        .icons
          .icon(data-content='my_info')
            img(src='https://s3-ap-northeast-1.amazonaws.com/unibee/unibee_icon.png')
          .icon(data-content='member_list')
            img(src='https://s3-ap-northeast-1.amazonaws.com/unibee/member_icon.png')
          .icon(data-content='chat_room')
            img(src='https://s3-ap-northeast-1.amazonaws.com/unibee/chat_icon.png')
        .contents
          .content.hide(data-content='my_info')
            h2 사용자 프로필
            img.img-responsive.center-block(src='https://s3-ap-northeast-1.amazonaws.com/unibee/user_default_woman.png')
            h4= displayName
            h5= 'userID : ' + username
            a.btn.btn-lg.btn-custom(href='/auth/logout', role='button') 로그아웃
          .content.hide(data-content='member_list')
            h2 사용자 목록
            include chat_member
          .content.hide(data-content='chat_room')
            h2 대화방
            #container
              #messages
                #incoming
              #send-message
                label(id='name')= displayName
                textarea(rows='2', cols='38', id='msg')
                p
                  button#btn-send.btn.btn-primary
                    | 보내기

block scripts
  script(src='/public/javascript/sidebar.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js')
  script(src='/public/javascript/chat-index.js')
  script(type='text/paperscript', src='/public/javascript/draw.js', canvas='draw')
