extends ./basic_layout

block content
  body(ng-app='myApp')
    div(ng-controller='AppChat')
      #people-list.people-list

        ul.list
          li(ng-repeat='member in memberlist')
              .name {{member.displayName}}


block scripts
  script(src='/libs/handlebars/handlebars.min.js')
  script(src='/libs/list.js/dist/list.min.js')
  script(src='/libs/angular/angular.min.js')
  script(src='/public/controllers/chat_controller.js')
